#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: luischambi
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3ceEFN9yaKNDARpiAbaj25sRHzVQby0/ho5Ele/MJ/FdCTR0q8L/t+Hl/wnKkuWNZdK3PM83T9dEoi3rCvCN7PHovmoCkCpbVTW4OEPv9XCE8xJxt2SXAR57Dh5igg4cW2kMC//lBWr3pbkwkH2d/2B78kxrkzRUQ4FWbhYMlfYIBFEY9oXzXdyCbRdgy24g8yyf4CNB0Xl6NzrKF7eg842E/Fx+c8carhlJTp+CYPdoYC1DMRMGUOIM+CIzFTjaESErUOrZdxTGCo1UbA9eIrRClR76Pb6oohryoMki3mot7UfCQZ5XyK+dUFpVYd5ywlwP8aB821wPaF0jrsdPF lparra@lparra-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
